# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Django Examples\15 Upload File and Images\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
