<Doctype html>
<html lang="en">
<head>
    <title> Details</title>
</head>

<body>
<h1> Welcome Durgasoft</h1>
<h2>Batches is Durgasoft</h2>
<p><b>List of Database</b></p>
<ol>
    <li>Oracle</li>
    <li>Sql Server</li>
    <li>Mysql</li>
    <li>PostgreSql</li>
    <li>NoSql</li>
</ol>

<p>list of Language</p>
<ul>
    <li>Python</li>
    <li>Django</li>
    <li>java</li>
    <li>.Net</li>
    <li>C</li>
    <li>C++</li>
</ul>

<h3> Select Required Framework</h3>
<select>
    <option value="Django"> Django</option>
    <option value="Flask"> Flask</option>
    <option value="Google Api engine"> Google Api engine</option>
</select>
<br>
for python course content
<a href="#">Click here</a>

</body>
</html>