# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Django Examples\07 One to One Model\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
